<div align="center" class="content">
    <h1>DDR Cabinet Configuration Tool</h1>
    <h2>Select a game to boot:</h2>
    <div class="list" id="gameList"></div>
    <div class="addGame hiddenMenu" id="addGame">
        <input id="name" class="text" type="text" placeholder="Game Name" />
        <input id="cmd"  class="text" type="text" placeholder="Game Command Line" />
    </div>
    <button onclick="AddGame()">Add new Game</button>
    <button onclick="Reboot()">Reboot Cabinet</button>
    <button onclick="SoftReboot()">Launch Game</button>
    <script src="~/js/index.js"></script>
</div>